<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/payment_successfull.css">
    <title>Payment Successful</title>
</head>
<body onbeforeunload="return myFunction()">
    <div id="modal" class="justify-content-center">
        <div id="success-checkmark-icon">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <div id="awesome-text">
            <h2>Awesome!</h2>
        </div>
        <div id="payment-successfull-par">
            <p>Your payment was successful! Enjoy & Thank you for your purchase.</p>
        </div>
        <div id="confirm">
            <a id="ok-btn" href="https://cakeyhand.com">OK</a>
        </div>
    </div>

    <!-- The core Firebase JS SDK -->
    <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-app.js"></script>

    <!-- Add Firebase Auth and Firestores -->
    <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-firestore.js"></script>

    <!-- Firebase Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.11.0/firebase-analytics.js"></script>

    <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
          apiKey: "AIzaSyDTTcV3TXZ3sn_F6mA3xCNJNi_oVQsxDGA",
          authDomain: "testdatabase-dc96e.firebaseapp.com",
          databaseURL: "https://testdatabase-dc96e.firebaseio.com",
          projectId: "testdatabase-dc96e",
          storageBucket: "testdatabase-dc96e.appspot.com",
          messagingSenderId: "552352108865",
          appId: "1:552352108865:web:001245b4387a9791c951c0"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
      </script>

    <script src="js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="js/payment_successful.js"></script>
    <script src="js/auth.js"></script>
</body>
</html>