<div class="container">
    <div class="row">
        <div id="col1" class="col-sm-3 col-lg-3">
            <div class="footer-column-wrapper text-center">
                <div class="col-title">
                    <h5>CakeyHand</h5>
                </div>
                <div class="footer-span">
                    <a href="../views/terms.html">Terms & Conditions</a>
                </div>
                <div class="footer-span">
                    <a href="../views/policy.html">Privacy Policy</a>
                </div>
            </div>
            
        </div>
        <div id="col2" class="col-sm-3 col-lg-5">
            <div class="footer-column-wrapper text-center">
                <div id="our-hours">
                    <h5>OPERATING HOURS</h5>
                    <div id="sjfm-hours" class="hours">
                        <span>St. John's Farmers' Market: <strong>Saturday: 9am - 4pm</strong></span>
                    </div>
                    <div id="online" class="hours">
                        <span>Online: <strong>Available 24/7</strong></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="col3" class="col-sm-6 col-lg-4">
            <div class="footer-column-wrapper text-center">
                <div class="col-title">
                    <h5>FOLLOW US ON</h5>
                </div>
                <div id="social-media-icons">
                    <span class="icon"><a href="https://www.facebook.com/CakeyHand/"><i class="fa fa-facebook"></i></a></span >
                    <span class="icon"><a href="https://www.instagram.com/cakeyhand/"><i class="fa fa-instagram"></i></a></span>
                </div>
                <div id="copyright" class="find-us-elem">
                    <i class="fa fa-copyright"></i>2021 All rights reserved. <span>CakeyHand</span>
                </div>
            </div>
        </div>
    </div>
</div>
