<div class="container">
    <nav class="navbar navbar-expand-md  navbar-light">
        <a class="navbar-brand" href="../../index.html">
            <img id="logo" src="/../assets/images/logos/cakeyhand-logo.png">
            <span>Cakey<span class="hand">Hand</span></span>
        </a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto text-right"> 
                <li id="menu-home" class="nav-item">
                    <a class="nav-link" href="index.html">Home</a>
                </li>
                <li id="menu-cakes" class="nav-item">
                    <a class="nav-link" href="/../views/categories/cakes.html">Cakes</a>
                </li>
                <li id="menu-desserts" class="nav-item">
                    <a class="nav-link" href="/../views/categories/desserts.html">Desserts</a>
                </li>
                <li id="menu-macarons" class="nav-item">
                    <a class="nav-link" href="/../views/categories/macarons.html">Macarons</a>
                </li>
                <li id="menu-assortment-box" class="nav-item">
                    <a class="nav-link" href="/../views/categories/assortments.html">Assortments</a>
                </li>
                <li id="shopping-cart-nav-item" class="nav-item">
                    <a href="/../views/cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
                    <span id="shopping-cart-items-number"></span>
                </li>
            </ul>
        </div>
    </nav>
</div>