<div class="container">
    <div class="row">
        <div id="free-shipping" class="col-12 col-sm-8">
            <h6>free delivery on all st. john's orders over $150</h6>
        </div>
        <div id="signin-reg" class="col-12 col-sm-4 text-sm-left text-md-right">
            <ul class="list-unstyled">
                <li id="sign-in-btn" class="list-inline-item">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <a class="top-nav-elem"  data-toggle="modal" data-target="#signin">Sign In</a>
                </li>
                <li id="register-btn" class="list-inline-item">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    <a class="top-nav-elem" data-toggle="modal" data-target="#registration">Register</a>
                </li>
                <li id="welcome-user" class="list-inline-item">
                    <span id="hi-user" class="top-nav-elem"></span>
                </li>
                <div id="my-account-dropdown" class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Account
                    </button>
                    <div class="dropdown-menu">
                    <a class="dropdown-item" href="/../views/general_settings.html">General Settings</a>
                    <a class="dropdown-item" href="/../views/my_orders.html">My Orders</a>
                    <a class="dropdown-item" href="/../views/favorites.html">My Favorites</a>
                    <div class="dropdown-divider"></div>
                    <a id="signout-btn" class="dropdown-item" href="#">Sign Out</a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>
